<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- How much logging info is displayed (0:none, 5:maximum) -->
    <add key="Searcharoo_IndexerDefaultVerbosity" value="2"/>
    <!-- Whether to serialize the Catalog to XML for 'viewing' (it's ALWAYS Binary Serialized) -->
    <add key="Searcharoo_DebugSerializeXml" value="true"/>
    <!-- Seconds to wait for a page to respond, before giving up -->
    <add key="Searcharoo_RequestTimeout" value="5"/>
    <!-- First page to search - should have LOTS of links to follow -->
    <add key="Searcharoo_VirtualRoot" value="http://localhost:3359/"/>
    <!-- Limit to the number of 'levels' of links to follow -->
    <add key="Searcharoo_RecursionLimit" value="200"/>
    <!-- Request another page after waiting x seconds; use zero ONLY on your own/internal sites -->
    <add key="Searcharoo_SpeedLimit" value="1"/>
    <!-- Whether to use stemming (English only), and if so, what mode [ Off | StemOnly | StemAndOriginal ] -->
    <add key="Searcharoo_StemmingType" value="1"/>
    <!-- Whether to use stop words (English only), and if so, what mode [ Off | Short | List ] -->
    <add key="Searcharoo_StoppingType" value="2"/>
    <!-- Whether to use go words (English only), and if so, what mode [ Off | On ] -->
    <add key="Searcharoo_GoType" value="1"/>
    <!-- Number of characters to include in 'file summary' -->
    <add key="Searcharoo_SummaryChars" value="350"/>
    <!-- User Agent sent with page requests, in case you wish to change it -->
    <add key="Searcharoo_UserAgent" value="Mozilla/6.0 (MSIE 6.0; Windows NT 5.1; Searcharoo.NET; robot)"/>
    <!-- Application[] cache key where the Catalog is stored, in case you need to alter it -->
    <add key="Searcharoo_CacheKey" value="Searcharoo_Catalog"/>
    <!-- Name of file where the Catalog object is serialized (.dat and .xml) -->
    <add key="Searcharoo_CatalogFilepath" value="C:\Projects\Searcharoo7\WebApplication\"/>
    <add key="Searcharoo_TempFilepath" value="C:\Projects\Searcharoo7\WebApplication\Temp\"/>
    <add key="Searcharoo_CatalogFilename" value="w_searcharoo.dat"/>
    <!-- Number of result links to include per page -->
    <add key="Searcharoo_DefaultResultsPerPage" value="10"/>
    <!-- Language to use when none is supplied (or supplied language is not available) -->
    <add key="Searcharoo_DefaultLanguage" value="en-US"/>
    <!-- Used within an Html comment (no spaces) to exclude part of an Html page indexing -->
    <add key="Searcharoo_IgnoreRegionTagNoIndex" value="SEARCHAROONOINDEX"/>
    <!-- Used within an Html comment (no spaces) to exclude part of an Html page from having links followed -->
    <add key="Searcharoo_IgnoreRegionTagNoFollow" value="SEARCHAROONOFOLLOW"/>
    <!-- If specified (eg. http://proxy:80/) will be used for WebClient requests, if blank, will be ignored -->
    <add key="Searcharoo_ProxyUrl" value=""/>
    <!-- Whether Medium Trust has been specified (either below, or in a machine.config file on your hosting provider) -->
    <add key="Searcharoo_InMediumTrust" value="False"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <!-- Specify Medium Trust if InMediumTrust=true above-->
    <customErrors mode="Off">
      <error statusCode="404" redirect="/404.aspx"/>
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>